/*
    Colors named using http://chir.ag/projects/name-that-color/
*/

/******************************
    Monochrome, Greys
*******************************/
  $gallery:             #eee;
  $alto:                #ddd;
  $silver:              #ccc;
  $mine-shaft:          #292828;




/******************************
    Blues and Purples
*******************************/
  $danube:              #6C99C6;
  $picton-blue:         #328FEC;
  $san-marino:          #4073A5;
  $razzle-dazzle-rose:  #EE49E7;
  $medium-purple:       #A149EE;
  $heliotrope:          #B35FFC;
  $mulled-wine:         #4A4A6E;


/******************************
    Reds and Oranges
*******************************/
  $rouge:               #A5406F;
  $burnt-sienna:        #EE5149;




/******************************
    Standard Colors
*******************************/
  $black:               #000;
  $white:               #fff;

