@import 'colors';



/******************************
    NavBar
*******************************/
  $nav-background:      $gallery;
  $nav-border:          $silver;
  $nav-bkg-hover:       $alto;
  $nav-text:            $mine-shaft;


/*

/******************************
    Alternative NavBar
*******************************/
/*  $nav-background:      $mulled-wine;
  $nav-border:          $san-marino;
  $nav-bkg-hover:       $medium-purple;
  $nav-text:            $white;*/